*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 15px;
}
nav a{
    font-size: 14px;
    font-weight: 600;
    color: gray;
    text-decoration: none;
    padding: 10px 14px;
}
nav a:hover{
    text-decoration: underline;
}
.dot_google{
    width: 25px;
    padding: 2px;
}
.dot_google:hover{
    opacity: 0.7;
}
.labs_go{
    width: 30px;
    padding: 2px;
}
.accountpic{
    width: 40px;
    padding: 2px;
    border-radius: 50%;
}

/* header code started  */
header{
    width: 60%;
    margin: 80px auto 20px auto;
}
.googleimg{
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.scarch_box{
    width: 700px;
    margin: 0 auto;
    position: relative;
}
.scarch_box input{
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 16px;
    padding: 15px;
    border-radius: 25px;
    outline: none;
    box-shadow: 5px 2px 10px rgba(128, 128, 128, 0.626);
    padding-left: 60px;
}
.scarch_icon {
    opacity: 0.6;
    position: absolute;
    left: 24px;
    top: 15px;
}
.voice_mic{
    width: 30px;
    position: absolute;
    top: 10px;
    right: 52px;
}
.leans_cam{
    width: 31px;
    position: absolute;
    top: 9px;
    right: 15px;
}
/* icon work  */
.icon_parent{
    width: 700px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.single_card img{
    width: 50px;
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.17);
    padding: 12px;
    border-radius: 50%;
}
.single_card{
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
.single_card:hover{
    background-color: rgba(243, 217, 217, 0.581);
}
.plus_icon i{
    margin-bottom: 10px;
    background-color: rgba(128, 128, 128, 0.17);
    padding: 15px;
    border-radius: 50%;
}
a{
    text-decoration: none;
}